body{
/*    background: url(img/skateboard.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    overflow-x: hidden;
}
#wrapper{
    background: -moz-linear-gradient(left, black, #383838);
    background: -o-linear-gradient(left, black, #383838);
    background: -webkit-linear-gradient(left, black, #383838);
    background: linear-gradient(left, black, #383838);
    
}
.margin{
    width: 1080px;
    margin: 0 auto;
    
}
header{
    border-bottom: 3px solid orange;
}
#wrapper img{
    padding-top: 15px;
}
#wrapper input{
    float: right;
    margin-top: 37px;
    margin-right: 20px;
}
section{
    background: -moz-linear-gradient(left, black, #383838);
    background: -o-linear-gradient(left, black, #383838);
    background: -webkit-linear-gradient(left, black, #383838);
    background: linear-gradient(left, black, #383838);
}
.upper-section{
    overflow: auto;
    /*margin-top: 20px;*/
    background-color: black;
}
.right-section{
    width: 69px;
    float: left;
    margin-left: 35px;
    color: white;
}
.right-section img{
    margin-bottom: 20px;
}
.right-section h3{
    margin-left: 25px;
}
.left-section{
    float: left;
}
nav{
    height: 100px;  
    height: 55px;
    padding-top: 20px;
    background: -moz-linear-gradient(left, black, #383838);
    background: -o-linear-gradient(left, black, #383838);
    background: -webkit-linear-gradient(left, black, #383838);
    background: linear-gradient(left, black, #383838);
}
#sist{
    border-top-right-radius: 5px;
}
#sist:hover a{
    border-top-right-radius: 5px;
}
#navundan a{
    border-top-left-radius: 5px;
    margin-left: 0px;
    background-color: white;
    border-left: none;
    color: black;
}
#navundan:hover a{
    border-top-left-radius: 5px;
}
ul{
    padding: 0;
    height: 35px;
    margin-left: 190px;
}
nav ul li{
    list-style-type: none;
    float: left;
    width: 100px;
    height: 35px;
/*    outline: thin solid green;*/
    text-align: center;
    background-color: grey;
    display: block;
    border-left: thin solid black;
    /*border-bottom: thin solid black;*/
    
}
nav ul li a{
    color: white;
    display: block;
    padding-top: 8px;
    height: 100%;
    
}
nav ul li a:hover{
    text-decoration: none;
    color: orange;
    background-color: black;;
    
}
.section-tf{
    /*outline: thin solid blue;*/
    background-color: #545454;
}
.section-tf img{
  margin-bottom: 20px;
  margin-left: 13%;
}
.section-tf p{
    width: 200px;
    margin-left: 13%;
    color: white;
}
footer{
    margin-top: 15px;
    border-top: 3px solid orange;
    overflow: auto;
    /*margin-top: 40px;*/
    /*border-top: 3px solid black;*/
    padding-left: 8.5%;
    background: -moz-linear-gradient(left, black, #383838);
    background: -o-linear-gradient(left, black, #383838);
    background: -webkit-linear-gradient(left, black, #383838);
    background: linear-gradient(left, black, #383838);
    color: white;
}
.obs{
    float: left;
    margin-right: 45px;
}
.obs-ruta{
    margin-left: 40px;
    margin-top: 38px; 
}
.obs-right{
    margin-top: 0px; 
}
#bil{
    z-index: 40;
    position: absolute;
    bottom: 0px;
    padding-bottom: 10px;
    /*margin-bottom: -40px;*/
    /*padding-top: 850px;*/
    right: -500px;
    //margin-left: 100%;
    /*display: none;*/
    
}
#go{
    width: 65px;
    height: 26px;
    background-color: grey;
    border: grey;
    color: white;
}
#go:hover{
    background-color: black;
    border: thin solid orange;
    color: orange;
}