#wrapper{
    width: 1080px;
    margin: 0 auto;
    background-color: red;
    height: 100px;
    border-bottom: 3px solid black;
}
#wrapper img{
    padding-top: 15px;
}
#wrapper input{
    float: right;
    margin-top: 37px;
    margin-right: 20px;
}
.upper-section{
    overflow: auto;
    margin-top: 20px;
}
.right-section{
    width: 69px;
    float: left;
    margin-left: 30px;
    
}
.right-section img{
    margin-bottom: 20px;
    outline: thin solid red;
}
.right-section h3{
    margin-left: 25px;
}
.left-section{
    float: left;
}
nav{
    height: 100px;
    outline: thin solid red;
    height: 35px;
    margin-top: 20px;
    
}
#navundan{
    margin-left: 0px;
}
ul{
    padding: 0;
    height: 35px;
    margin-left: 190px;
}
nav ul li{
    list-style-type: none;
    float: left;
    width: 100px;
    height: 35px;
    outline: thin solid green;
    text-align: center;
    
    display: block;
}
nav ul li a{
    color: black;
    display: block;
    padding-top: 8px;
    height: 100%;
    
}
nav ul li a:hover{
    text-decoration: none;
    color: black;
}